[Desktop Entry]
Type=Application
Name=Albion Online
GenericName=MMORPG
Comment=Play Albion Online
Icon=com.albiononline.AlbionOnline
Exec=albion-online
Categories=Game
